<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>

    <key>NSPrincipalClass</key>
    <string>NSApplication</string>

    <key>XSAppIconAssets</key>
    <string>AppIcon</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict/>
    </array>
    <key>NSAppleEventsUsageDescription</key>
    <string>This app needs to send keystrokes to paste clipboard content into other applications.</string>
    <key>NSInputMonitoringUsageDescription</key>
    <string>This app needs to monitor input to provide clipboard functionality.</string>
    <key>SMAppService</key>
    <dict>
        <key>LoginItems</key>
        <array>
            <dict>
                <key>Identifier</key>
                <string>com.sid.clipboard</string>
            </dict>
        </array>
    </dict>
    <key>CFBundleName</key>
    <string>Clipboard Manager</string>
    <key>CFBundleDisplayName</key>
    <string>Clipboard Manager</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025 Sidhanti. All rights reserved.</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
</dict>
</plist>
